export(pca_fit)
export(pca_preprocess)
export(pca_reconstruct)
export(pca_doctor)
export(pca_ncomp)
export(pca_parallel)
export(pca_cv)
export(pca_broken_stick)
export(pca_cluster)
export(pca_cluster_boundary)
export(pca_cluster_compare)
export(pca_cluster_evaluate)
export(pca_cluster_labels)
export(pca_cluster_report)
export(pca_cluster_stability)
export(pca_test)
export(pca_boot)
export(pca_stability)
export(pca_associate)
export(pca_diagnose)
export(pca_compare)
export(pca_group)
export(pca_supplementary)
export(pca_plot)
export(pca_export_plot)
export(pca_theme_publication)
export(pca_table)
export(pca_report)
export(pca_teach_app)
export(pca_export_table)
export(pca_tour)
export(pca_tour_compare)
export(pca_teach_rotation)
export(pca_teach_variance)
export(pca_teach_eigen)
export(pca_teach_svd)
export(pca_teach_scores)
export(pca_teach_loadings)
export(pca_teach_reconstruction)
export(pca_teach_scaling)
export(pca_teach_ncomp)
export(pca_teach_biplot)
export(pca_asca)
export(pca_multiblock)
export(pca_incremental_init)
export(pca_incremental_update)
export(pca_incremental_finalize)
export(pca_simulate)
export(pca_example_agronomy)
export(pca_capabilities)
S3method(print,pca_fit)
S3method(summary,pca_fit)
S3method(print,summary.pca_fit)
S3method(predict,pca_fit)
S3method(fitted,pca_fit)
S3method(residuals,pca_fit)
S3method(plot,pca_fit)
S3method(print,pca_cluster)
S3method(print,pca_cluster_evaluate)
S3method(print,pca_cluster_compare)
S3method(print,pca_cluster_stability)
S3method(print,pca_cluster_report)
importFrom(stats,predict)
importFrom(stats,setNames)
importFrom(stats,cor)
importFrom(stats,cov)
importFrom(stats,quantile)
importFrom(stats,sd)
importFrom(stats,var)
importFrom(stats,model.matrix)
importFrom(stats,lm.fit)
importFrom(stats,terms)
importFrom(stats,delete.response)
importFrom(grDevices,pdf)
importFrom(grDevices,png)
importFrom(grDevices,tiff)
importFrom(grDevices,svg)
importFrom(grDevices,chull)
importFrom(stats,as.dist)
importFrom(stats,cutree)
importFrom(stats,dist)
importFrom(stats,hclust)
importFrom(stats,kmeans)
